<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586205630588-5u6p6pq5oeqvmis5tr4vdbgr00vtn5a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586205630588-5u6p6pq5oeqvmis5tr4vdbgr00vtn5a1</string>
	<key>API_KEY</key>
	<string>AIzaSyDIbOUwo4FWSwlLUhSH3HQjJtV4E7buMnw</string>
	<key>GCM_SENDER_ID</key>
	<string>586205630588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ironraft.Pupping</string>
	<key>PROJECT_ID</key>
	<string>puppingtest</string>
	<key>STORAGE_BUCKET</key>
	<string>puppingtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586205630588:ios:6e84acb22ae6dd6a11f9f9</string>
</dict>
</plist>